<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="by.tms.Calculator" id="calc">
        <property name="num1" value="22"/>
        <property name="num2" value="56"/>
        <property name="operationType" value="sub"/>
    </bean>

</beans>
